In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import psycopg2

In [2]:
database_name = 'scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [4]:
query = '''
SELECT startdate
FROM trips
LIMIT 10;
'''

with engine.connect() as connection:
    result = connection.execute(text(query))

In [5]:
result.fetchone()

(datetime.date(2019, 5, 1),)

In [6]:
result.fetchall()

[(datetime.date(2019, 5, 1),),
 (datetime.date(2019, 5, 1),),
 (datetime.date(2019, 5, 1),),
 (datetime.date(2019, 5, 1),),
 (datetime.date(2019, 5, 1),),
 (datetime.date(2019, 5, 1),),
 (datetime.date(2019, 5, 1),),
 (datetime.date(2019, 5, 1),),
 (datetime.date(2019, 5, 1),)]

In [7]:
import pandas as pd

In [8]:
with engine.connect() as connection:
    trips = pd.read_sql(text(query), con = connection)

trips.head()

    startdate
0  2019-05-01
1  2019-05-01
2  2019-05-01
3  2019-05-01
4  2019-05-01