In [1]:
from sqlalchemy import create_engine, text
import pandas as pd

In [32]:
from matplotlib import pyplot as plt

In [2]:
#pip install sqlalchemy --upgrade
# Save the dataframe to a CSV file
#df.to_csv('Biodata.csv', index=False)

In [3]:
database_name = 'scooters'
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

In [4]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
'''

In [5]:
with engine.connect() as connection:
    scooters = pd.read_sql(text(query), con = connection)

In [6]:
scooters.head(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-16 12:49:24.027,36.136875,-86.799699,PoweredJTXV42MMK5N2K,Powered,99.0,scooter,0.0,Lime
1,2019-05-16 12:49:24.027,36.138913,-86.806034,Powered7CR7OBJLYUUAK,Powered,100.0,scooter,0.0,Lime
2,2019-05-16 12:49:24.027,36.143002,-86.768361,PoweredADBYSO5F7BNJJ,Powered,65.0,scooter,0.0,Lime
3,2019-05-16 12:49:24.027,36.144064,-86.812469,PoweredRF7SQRAJNNI6S,Powered,88.0,scooter,0.0,Lime
4,2019-05-16 12:49:24.027,36.137245,-86.790608,PoweredGJXGSI4SY2PDK,Powered,64.0,scooter,0.0,Lime
5,2019-05-16 12:49:24.027,36.136628,-86.786757,Powered32ZPJVMT2JNJP,Powered,99.0,scooter,0.0,Lime
6,2019-05-16 12:49:24.027,36.143168,-86.789756,PoweredXGQ3CS4UHJBOV,Powered,48.0,scooter,0.0,Lime
7,2019-05-16 12:49:24.027,36.136323,-86.789582,Powered3Q54UZ7AIKGPR,Powered,91.0,scooter,0.0,Lime
8,2019-05-16 12:49:24.027,36.136083,-86.800846,PoweredI4FMPXTI2Q7WN,Powered,100.0,scooter,0.0,Lime
9,2019-05-16 12:49:24.027,36.142504,-86.805595,PoweredFVUZ4QWL4TK6E,Powered,70.0,scooter,0.0,Lime

In [7]:
scooters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pubdatetime  100 non-null    datetime64[ns]
 1   latitude     100 non-null    float64
 2   longitude    100 non-null    float64
 3   sumdid       100 non-null    object
 4   sumdtype     100 non-null    object
 5   chargelevel  100 non-null    float64
 6   sumdgroup    100 non-null    object
 7   costpermin   100 non-null    float64
 8   companyname  100 non-null    object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 7.2+ KB

In [8]:
query = '''
SELECT DISTINCT(companyname)
FROM scooters;
'''
#name all the companies included in dataset for scooters
with engine.connect() as connection:
    company_names = pd.read_sql(text(query), con = connection)

company_names

  companyname
0        Bird
1        Bolt
2      Gotcha
3        Jump
4        Lime
5        Lyft
6        Spin

In [9]:
query = '''
SELECT companyname AS Company_Name,
	MIN(pubdatetime) AS earliest_date, 	MAX(pubdatetime)AS recent_date
FROM scooters
GROUP BY companyname;
'''
#name the earliest and most recent dates by company
with engine.connect() as connection:
    min_max_date = pd.read_sql(text(query), con = connection)

min_max_date

  company_name           earliest_date             recent_date
0         Bird 2019-05-01 00:01:41.247 2019-07-31 23:58:18.267
1         Bolt 2019-05-24 00:04:42.000 2019-07-31 23:59:57.000
2       Gotcha 2019-05-01 00:04:48.030 2019-07-31 23:59:15.753
3         Jump 2019-05-16 22:12:12.000 2019-07-31 23:59:43.000
4         Lime 2019-05-01 00:04:56.883 2019-07-31 23:56:08.147
5         Lyft 2019-05-01 00:02:25.383 2019-07-31 23:58:32.950
6         Spin 2019-05-15 19:28:03.690 2019-07-31 23:55:54.303

In [10]:
#time is not represented in am/pm but military time

In [11]:
query = '''
SELECT DISTINCT sumdgroup
FROM scooters;
'''
#name the earliest and most recent dates by company
with engine.connect() as connection:
    sumd_list = pd.read_sql(text(query), con = connection)

sumd_list

  sumdgroup
0   bicycle
1   scooter
2   Scooter

##### 1)During this period, seven companies offered scooters. How many scooters did each company have in this time frame? Did the number for each company change over time? Did scooter usage vary by company?

In [12]:
query = '''
SELECT companyname AS Company_Name, sumdgroup, COUNT(DISTINCT sumdgroup)
FROM scooters
GROUP BY companyname, sumdgroup
'''
#name the earliest and most recent dates by company
with engine.connect() as connection:
    sumd_count = pd.read_sql(text(query), con = connection)

sumd_count

  company_name sumdgroup  count
0         Bird   scooter      1
1         Bolt   Scooter      1
2       Gotcha   Scooter      1
3         Jump   scooter      1
4         Lime   bicycle      1
5         Lime   scooter      1
6         Lyft   scooter      1
7         Spin   Scooter      1

In [13]:
query = '''
SELECT companyname AS Company_Name, COUNT(DISTINCT sumdid)
FROM scooters
WHERE sumdgroup ilike '%scooter%'
GROUP BY companyname
'''
#name the number of Scooters and scooters by company
with engine.connect() as connection:
    scooters_only = pd.read_sql(text(query), con = connection)

scooters_only

  company_name  count
0         Bird   3860
1         Bolt    360
2       Gotcha    224
3         Jump   1210
4         Lime   1818
5         Lyft   1735
6         Spin    805

#### 1) This is how many scooters each company had.

In [14]:
query = '''
SELECT companyname AS Company_Name, MIN(tripduration) AS shortest_time, MAX(tripduration) AS longest_time
FROM trips
GROUP BY companyname;
'''
#name the longest and shortest trip duration
with engine.connect() as connection:
    trip_min_max_duration = pd.read_sql(text(query), con = connection)

trip_min_max_duration

    company_name  shortest_time   longest_time
0           Bird       0.000000    1428.000000
1  Bolt Mobility       7.000000  512619.000000
2         Gotcha       1.000000    1035.000000
3           JUMP       1.016667    1440.000000
4           Lime       0.000000    1384.266667
5           Lyft     -19.358267    1662.259483
6           SPIN       2.000000   36206.000000

In [15]:
# query = '''
# SELECT companyname AS Company_Name, COUNT(DISTINCT sumdid) AS count, 
#  			date_trunc('month', pubdatetime) AS month,
# 			100 * (count(*) - LAG(count(*), 1) OVER (ORDER BY pubdatetime)),
# 			LAG(count(*), 1) OVER (ORDER BY pubdatetime) || '%' AS growth
# FROM scooters
# WHERE sumdgroup ilike '%scooter%'
# GROUP BY companyname, pubdatetime, date_trunc('month', pubdatetime);
# '''
# #number of scooters by month over month
# with engine.connect() as connection:
#     count_over_time= pd.read_sql(text(query), con = connection)

# count_over_time

In [23]:
query = '''
SELECT
	DATE(pubdatetime) AS date,
 	companyname AS Company_Name,
 	count(DISTINCT sumdid) AS Total_Scooters
FROM scooters
WHERE sumdgroup ilike '%scooter%'
GROUP BY companyname, date
'''
#number of scooters by DAILY
with engine.connect() as connection:
    count_over_time= pd.read_sql(text(query), con = connection)

count_over_time

           date company_name  total_scooters
0    2019-05-01         Bird            1545
1    2019-05-02         Bird            1504
2    2019-05-03         Bird            1516
3    2019-05-04         Bird            1438
4    2019-05-05         Bird            1319
..          ...          ...             ...
573  2019-07-27         Spin             316
574  2019-07-28         Spin             306
575  2019-07-29         Spin             270
576  2019-07-30         Spin             269
577  2019-07-31         Spin             271

[578 rows x 3 columns]

In [16]:
query = '''
SELECT companyname AS Company_Name, MIN(tripdistance) AS shortest_distance, MAX(tripdistance) AS longest_distance
FROM trips
GROUP BY companyname;
'''
#name the longest and shortest trip distance
with engine.connect() as connection:
    trip_min_max_distance= pd.read_sql(text(query), con = connection)

trip_min_max_distance

    company_name  shortest_distance  longest_distance
0           Bird        -20324803.8      1.848950e+07
1  Bolt Mobility                0.0      9.550525e+04
2         Gotcha                0.0      3.188448e+07
3           JUMP                0.0      2.066592e+05
4           Lime                0.0      7.580026e+06
5           Lyft                0.0      1.237631e+05
6           SPIN                0.0      2.304167e+05

#### 2) Are the scooter companies in compliance with the second and third part of this rule? (less than 1 minute trups removed, more than 24hr trip duration removed)

In [17]:
#outliers, the negative distance and negative time
query = '''
SELECT *
FROM trips
WHERE tripdistance< 0;
'''
#explore negative distance
with engine.connect() as connection:
    negative_distance= pd.read_sql(text(query), con = connection)

negative_distance
#32 rows- all Bird

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-03 03:38:15.957,Bird,BRD4251,PoweredRX4BM,3.0,-1.119964e+06,2019-05-03,03:36:18.613333,2019-05-03,03:39:28.660000,36.1634,-86.7764,36.1632,-86.7764,"[(36.163245, -86.776409), (36.163227, -86.7763...",2019-05-04 05:30:38.683
1,2019-05-04 03:24:32.237,Bird,BRD5207,PoweredUZ2JH,3.0,-1.684701e+06,2019-05-04,03:23:54.140000,2019-05-04,03:26:29.310000,36.1725,-86.7863,36.1724,-86.7863,"[(36.172513, -86.786335), (36.172507, -86.7863...",2019-05-05 05:30:42.633
2,2019-05-04 17:45:17.800,Bird,BRD1296,PoweredUZ2JH,2.0,-1.684806e+06,2019-05-04,17:44:47.986666,2019-05-04,17:46:26.800000,36.1734,-86.7854,36.1734,-86.7854,"[(36.173432, -86.78532), (36.173433, -86.78532...",2019-05-05 05:31:18.497
3,2019-05-04 18:20:19.350,Bird,BRD1734,PoweredUZ2JH,1.0,-1.684971e+06,2019-05-04,18:20:53.513333,2019-05-04,18:21:46.796666,36.1734,-86.7854,36.1734,-86.7855,"[(36.173413, -86.785388), (36.173413, -86.7853...",2019-05-05 05:31:23.903
4,2019-05-04 20:40:26.580,Bird,BRD3383,PoweredUZ2JH,2.0,-1.685315e+06,2019-05-04,20:40:10.926666,2019-05-04,20:42:18.600000,36.1738,-86.7857,36.1740,-86.7857,"[(36.173884, -86.785616), (36.173884, -86.7856...",2019-05-05 05:31:48.947
5,2019-05-05 16:51:23.540,Bird,BRD838,PoweredUH8P5,60.0,-2.129265e+03,2019-05-05,15:51:56.323333,2019-05-05,16:51:37.006666,36.1555,-86.7867,36.1619,-86.7763,"[(36.155563, -86.786697), (36.155566, -86.7867...",2019-05-06 05:31:09.407
6,2019-05-14 21:11:56.413,Bird,BRD1675,PoweredUHZCQ,3.0,-9.842520e+02,2019-05-14,21:11:02.400000,2019-05-14,21:13:41.736666,36.1612,-86.7774,36.1591,-86.7775,"[(36.159145, -86.777423), (36.161283, -86.7778...",2019-05-15 05:31:43.310
7,2019-07-29 21:33:20.407,Bird,BRD1539,Powered4VCCV,6.0,-7.634515e+05,2019-07-29,21:29:25.016666,2019-07-29,21:34:57.306666,36.1567,-86.7652,36.1570,-86.7652,"[(36.157004, -86.765112)]",2019-07-30 05:31:18.720
8,2019-05-17 21:05:14.767,Bird,BRD2461,PoweredYGCHC,5.0,-2.758530e+06,2019-05-17,21:01:20.166666,2019-05-17,21:06:33.026666,36.1529,-86.7899,36.1543,-86.7859,"[(36.153016, -86.789799), (36.153204, -86.7896...",2019-05-18 05:31:26.960
9,2019-05-25 22:19:13.733,Bird,BRD6540,Powered2VMGC,2.0,-2.253937e+06,2019-05-25,22:17:09.306666,2019-05-25,22:19:32.360000,36.1525,-86.7916,36.1533,-86.7891,"[(36.152161, -86.791157), (36.153353, -86.7890...",2019-05-26 05:32:32.830
10,2019-05-26 18:50:07.467,Bird,BRD2968,PoweredGMERB,11.0,-2.854331e+04,2019-05-26,18:39:44.516666,2019-05-26,18:51:04.346666,36.1306,-86.7887,36.1306,-86.7888,"[(36.130673, -86.788709)]",2019-05-27 05:31:52.107
11,2019-05-29 12:08:01.557,Bird,BRD62,PoweredHI3E3,5.0,-3.280840e+02,2019-05-29,12:04:03.326666,2019-05-29,12:09:15.250000,36.1518,-86.7931,36.1548,-86.7857,"[(36.151909, -86.793071), (36.151909, -86.7930...",2019-05-30 05:30:58.460
12,2019-06-01 19:46:42.407,Bird,BRD3051,PoweredW1UN8,12.0,-4.921260e+03,2019-06-01,19:36:04.780000,2019-06-01,19:48:30.236666,36.1466,-86.8090,36.1468,-86.8091,"[(36.147301, -86.808798), (36.147019, -86.8089...",2019-06-02 05:31:35.083
13,2019-06-09 20:30:28.920,Bird,BRD3786,PoweredNUASB,10.0,-5.157480e+05,2019-06-09,20:21:09.820000,2019-06-09,20:31:09.060000,36.1657,-86.7779,36.1616,-86.7788,"[(36.165769, -86.777705), (36.165862, -86.7778...",2019-06-10 05:32:01.647
14,2019-06-14 22:20:54.137,Bird,BRD3610,Powered6U7D5,22.0,-6.561680e+02,2019-06-14,21:59:48.496666,2019-06-14,22:21:52.196666,36.1613,-86.7765,36.1757,-86.7862,"[(36.175691, -86.786013), (36.175588, -86.7860...",2019-06-15 05:31:40.083
15,2019-06-14 22:45:55.197,Bird,BRD3866,PoweredRAQAI,5.0,-8.530184e+03,2019-06-14,22:40:45.076666,2019-06-14,22:46:15.026666,36.1607,-86.7816,36.1518,-86.7812,"[(36.160776, -86.781685), (36.160722, -86.7815...",2019-06-15 05:31:43.500
16,2019-06-14 22:55:55.413,Bird,BRD3928,PoweredBJQFW,5.0,-2.952756e+03,2019-06-14,22:51:39.233333,2019-06-14,22:56:12.100000,36.1611,-86.7808,36.1568,-86.7763,"[(36.161107, -86.78075), (36.161279, -86.78088...",2019-06-15 05:31:44.750
17,2019-06-15 01:26:01.380,Bird,BRD5341,PoweredYJ7AQ,13.0,-3.280840e+02,2019-06-15,01:14:37.736666,2019-06-15,01:27:57.336666,36.1611,-86.7747,36.1597,-86.7747,"[(36.160662, -86.774373), (36.160662, -86.7743...",2019-06-16 05:30:47.750
18,2019-06-15 02:06:03.327,Bird,BRD5693,PoweredC6FSV,11.0,-5.905512e+03,2019-06-15,01:56:51.610000,2019-06-15,02:07:32.220000,36.1521,-86.8200,36.1562,-86.7953,"[(36.156272, -86.795204), (36.158674, -86.7985...",2019-06-16 05:30:53.127
19,2019-06-15 02:06:03.327,Bird,BRD5695,PoweredCBE8P,11.0,-3.280840e+02,2019-06-15,01:56:10.866666,2019-06-15,02:07:37.036666,36.1522,-86.8199,36.1501,-86.8181,"[(36.151833, -86.818791), (36.152619, -86.8195...",2019-06-16 05:30:53.193
20,2019-06-15 02:11:03.950,Bird,BRD5746,PoweredQV5IE,13.0,-1.968504e+03,2019-06-15,01:58:31.310000,2019-06-15,02:11:26.276666,36.1554,-86.7809,36.1554,-86.7810,"[(36.160226, -86.778499), (36.160196, -86.7784...",2019-06-16 05:30:53.957
21,2019-07-27 23:56:41.940,Bird,BRD5324,PoweredYZL2A,44.0,-2.032480e+07,2019-07-27,23:14:23.683333,2019-07-27,23:58:23.820000,36.1585,-86.7683,36.1260,-86.7892,"[(36.158517, -86.768224), (36.158624, -86.7682...",2019-07-28 05:32:05.610
22,2019-05-14 18:26:48.530,Bird,BRD1056,Powered9CBCW,3.0,-6.296916e+04,2019-05-14,18:25:49.013333,2019-05-14,18:28:26.620000,36.1486,-86.8072,36.1514,-86.8042,"[(36.148651, -86.807152), (36.148666, -86.8071...",2019-05-15 05:31:25.173
23,2019-05-14 19:36:51.360,Bird,BRD1354,PoweredHMJDG,3.0,-2.624672e+03,2019-05-14,19:34:54.086666,2019-05-14,19:38:12.580000,36.1621,-86.7743,36.1611,-86.7765,"[(36.161131, -86.776454), (36.159071, -86.77563)]",2019-05-15 05:31:34.027
24,2019-05-14 20:01:52.723,Bird,BRD1436,Powered7B8CF,20.0,-3.280840e+03,2019-05-14,19:42:58.320000,2019-05-14,20:03:13.833333,36.1521,-86.7780,36.1669,-86.7828,"[(36.167073, -86.78299), (36.167073, -86.78299...",2019-05-15 05:31:36.630
25,2019-05-14 20:01:52.723,Bird,BRD1437,Powered9YGMN,22.0,-3.608924e+03,2019-05-14,19:40:56.146666,2019-05-14,20:03:06.506666,36.1521,-86.7779,36.1665,-86.7822,"[(36.167078, -86.782872), (36.167078, -86.7828...",2019-05-15 05:31:36.690
26,2019-05-18 22:21:25.813,Bird,BRD4655,PoweredJYAIF,2.0,-1.787730e+05,2019-05-18,22:21:10.570000,2019-05-18,22:22:52.456666,36.1585,-86.7739,36.1584,-86.7738,"[(36.158493, -86.773734), (36.158493, -86.7737...",2019-05-19 05:32:05.863
27,2019-06-15 02:21:04.077,Bird,BRD5845,PoweredUDF2B,11.0,-1.181102e+04,2019-06-15,02:11:03.360000,2019-06-15,02:21:35.666666,36.1575,-86.7743,36.1575,-86.7740,"[(36.161394, -86.784081), (36.161449, -86.7838...",2019-06-16 05:30:55.063
28,2019-06-15 02:26:04.337,Bird,BRD5864,PoweredP6CSN,2.0,-6.561680e+02,2019-06-15,02:24:56.456666,2019-06-15,02:27:05.510000,36.1581,-86.7840,36.1581,-86.7842,"[(36.1581, -86.78397), (36.1581, -86.78397), (...",2019-06-16 05:30:55.443
29,2019-06-15 02:26:04.337,Bird,BRD5867,PoweredA85WA,6.0,-3.280840e+02,2019-06-15,02:20:26.330000,2019-06-15,02:26:39.170000,36.1636,-86.7832,36.1636,-86.7832,"[(36.163635, -86.78312), (36.163653, -86.78307...",2019-06-16 05:30:55.537
30,2019-07-25 16:39:39.323,Bird,BRD485,PoweredI4464,9.0,-1.990092e+07,2019-07-25,16:31:14.886666,2019-07-25,16:40:29.046666,36.1461,-86.7823,36.1572,-86.7766,"[(36.14634, -86.782481), (36.146169, -86.78243...",2019-07-26 05:31:03.980
31,2019-07-26 02:20:01.733,Bird,BRD2398,PoweredVXSZ2,25.0,-9.337271e+06,2019-07-26,01:55:59.876666,2019-07-26,02:20:39.063333,36.1492,-86.8142,36.1493,-86.8142,"[(36.149286, -86.814144), (36.149341, -86.8141...",2019-07-27 05:30:28.807

In [18]:
query = '''
SELECT *
FROM trips
WHERE tripduration< 0;
'''
#explore negative duration
with engine.connect() as connection:
    negative_duration= pd.read_sql(text(query), con = connection)

negative_duration
#all lyft - 8x June21st (2) and July18 (6)- these were meant to be removed from the dataset

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-06-21 21:44:53.863,Lyft,LFT1318,Powered220544,-8.003717,3484.25208,2019-06-21,21:32:09.170000,2019-06-21,21:24:08.946666,36.15561,-86.77505,36.15536,-86.77508,"[(36.15561, -86.77505), (36.15565, -86.77509),...",2019-06-22 08:31:51.090
1,2019-07-18 23:56:13.233,Lyft,LFT864,Powered863342,-0.715917,2214.56700,2019-07-18,23:50:34.650000,2019-07-18,23:49:51.693333,36.15997,-86.77659,36.15690,-86.78102,"[(36.15997, -86.77659), (36.15994, -86.77653),...",2019-07-19 10:49:30.810
2,2019-06-21 22:35:30.390,Lyft,LFT1435,Powered041891,-1.359867,3166.01060,2019-06-21,22:23:01.316666,2019-06-21,22:21:39.726666,36.16213,-86.77958,36.16020,-86.77283,"[(36.16213, -86.77958), (36.16206, -86.77953),...",2019-06-22 08:31:56.090
3,2019-07-19 00:01:24.063,Lyft,LFT2,Powered859498,-10.242417,52.49344,2019-07-18,23:59:35.683333,2019-07-18,23:49:21.136666,36.15163,-86.78418,36.15172,-86.78408,"[(36.15163, -86.78418), (36.15167, -86.78413),...",2019-07-20 10:52:39.020
4,2019-07-19 00:06:02.050,Lyft,LFT7,Powered895717,-0.501317,3799.21272,2019-07-18,23:49:45.476666,2019-07-18,23:49:15.396666,36.16305,-86.78455,36.15792,-86.78894,"[(36.16305, -86.78455), (36.16301, -86.78467),...",2019-07-20 10:52:39.223
5,2019-07-19 00:07:18.803,Lyft,LFT10,Powered767853,-4.618833,3061.02372,2019-07-18,23:53:53.926666,2019-07-18,23:49:16.796666,36.15155,-86.78407,36.15354,-86.77790,"[(36.15155, -86.78407), (36.15153, -86.78401),...",2019-07-20 10:52:39.343
6,2019-07-19 00:12:05.363,Lyft,LFT18,Powered863342,-10.975100,3641.73240,2019-07-19,00:00:24.016666,2019-07-18,23:49:25.513333,36.15694,-86.78104,36.16305,-86.77605,"[(36.15694, -86.78104), (36.1571, -86.78111), ...",2019-07-20 10:52:39.657
7,2019-07-19 00:14:02.297,Lyft,LFT21,Powered853770,-19.358267,4540.68256,2019-07-19,00:09:04.506666,2019-07-18,23:49:43.013333,36.15505,-86.78482,36.14690,-86.79355,"[(36.15505, -86.78482), (36.15511, -86.78482),...",2019-07-20 10:52:39.737

In [21]:
query = '''
SELECT *
FROM trips
WHERE tripduration> 1440;
'''
#explore over 24 hr durations
with engine.connect() as connection:
    over_24_hrs= pd.read_sql(text(query), con = connection)

over_24_hrs

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-05 19:08:31.353,Lyft,LFT1105,Powered413161,1662.259483,20009.84316,2019-05-04,15:26:15.716666,2019-05-05,19:08:31.286666,36.136620,-86.800050,36.136720,-86.797570,"[(36.13662, -86.80005), (36.13662, -86.80015),...",2019-05-06 07:28:24.700
1,2019-06-14 21:38:42.000,Bolt Mobility,BOL00399,Powered-2923f3cd-568f-b703-49e9-4da763a1ba71,2427.000000,16725.72000,2019-06-14,20:55:12,2019-06-14,21:35:39,36.149949,-86.814480,36.149960,-86.814431,"[('36.149949', '-86.814480'), ('36.149994', '-...",2019-06-15 06:06:58.397
2,2019-06-14 21:38:42.000,Bolt Mobility,BOL00402,Powered-41d70d7d-7a93-d2b3-4346-9d3e9c9cd06d,1992.000000,13933.73000,2019-06-14,21:02:51,2019-06-14,21:36:03,36.149985,-86.814422,36.149916,-86.814428,"[('36.149985', '-86.814422'), ('36.149941', '-...",2019-06-15 06:06:58.490
3,2019-06-14 21:38:42.000,Bolt Mobility,BOL00400,Powered-cd8f9965-7978-b304-de96-a96edc077e96,2329.000000,15551.18000,2019-06-14,20:56:50,2019-06-14,21:35:39,36.150009,-86.814438,36.149955,-86.814476,"[('36.150009', '-86.814438'), ('36.150325', '-...",2019-06-15 06:06:58.427
4,2019-06-14 21:38:42.000,Bolt Mobility,BOL00394,Powered-fa322466-f8b0-9efc-d099-9d458ca501b2,2538.000000,20278.87000,2019-06-14,20:52:17,2019-06-14,21:34:35,36.149953,-86.814437,36.150313,-86.813789,"[('36.149953', '-86.814437'), ('36.150253', '-...",2019-06-15 06:06:58.247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6933,2019-07-16 03:21:24.000,Bolt Mobility,BOL00096,Powered-08505f68-1f44-5d79-48c5-1370977e40d5,4338.000000,20360.89000,2019-07-16,02:06:08,2019-07-16,03:18:26,36.164453,-86.776871,36.165684,-86.777318,[],2019-07-17 06:23:11.467
6934,2019-07-16 03:21:24.000,Bolt Mobility,BOL00097,Powered-d7e27cba-0c42-7dc1-e3cc-5918e4259c4d,4296.000000,20810.37000,2019-07-16,02:06:50,2019-07-16,03:18:26,36.164564,-86.776855,36.164854,-86.777015,[],2019-07-17 06:23:11.497
6935,2019-07-16 03:26:24.000,Bolt Mobility,BOL00103,Powered-11c91768-0a7c-824a-72aa-806f7208e428,3319.000000,10337.93000,2019-07-16,02:28:02,2019-07-16,03:23:21,36.161168,-86.775676,36.161649,-86.776524,[],2019-07-17 06:23:56.117
6936,2019-07-16 03:26:24.000,Bolt Mobility,BOL00101,Powered-2cfdbb5b-85d4-47c1-8cbe-2859c2cceff9,2549.000000,12060.37000,2019-07-16,02:40:18,2019-07-16,03:22:47,36.157368,-86.773746,36.161526,-86.776507,[],2019-07-17 06:23:56.053
6937,2019-07-16 03:26:24.000,Bolt Mobility,BOL00102,Powered-fa7fff71-e0da-6d61-e5da-d1c225694961,2619.000000,11289.37000,2019-07-16,02:39:13,2019-07-16,03:22:52,36.157385,-86.773718,36.161712,-86.776500,[],2019-07-17 06:23:56.083

#### Answer: there are 6938 instances of trips over 24 hours or 1440 minutes

In [22]:
query = '''
SELECT companyname, COUNT(companyname) AS times_over_24hrs
FROM (
	SELECT *
	FROM trips
	WHERE tripduration> 1440 )
GROUP BY companyname;

'''
#which companies are the worst offenders in not cleaning their data? 
with engine.connect() as connection:
    over_24_count= pd.read_sql(text(query), con = connection)

over_24_count
#Bolt Mobility

     companyname  times_over_24hrs
0  Bolt Mobility              6908
1           Lyft                 2
2           SPIN                28

In [ ]:
SELECT companyname, COUNT(companyname) AS times_over_24hrs
FROM (
	SELECT *
	FROM trips
	WHERE tripduration> 1440 )
GROUP BY companyname;

In [20]:
query = '''
SELECT *
FROM trips
LIMIT 100;

'''
#explore trips 
with engine.connect() as connection:
    trips= pd.read_sql(text(query), con = connection)
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pubtimestamp    100 non-null    datetime64[ns]
 1   companyname     100 non-null    object
 2   triprecordnum   100 non-null    object
 3   sumdid          100 non-null    object
 4   tripduration    100 non-null    float64
 5   tripdistance    100 non-null    float64
 6   startdate       100 non-null    object
 7   starttime       100 non-null    object
 8   enddate         100 non-null    object
 9   endtime         100 non-null    object
 10  startlatitude   100 non-null    float64
 11  startlongitude  100 non-null    float64
 12  endlatitude     100 non-null    float64
 13  endlongitude    100 non-null    float64
 14  triproute       100 non-null    object
 15  create_dt       100 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(8)
memory usage: 12.6+ KB

##### company name is an object in both tables

#### 3) The goal of Metro Nashville is to have each scooter used a minimum of 3 times per day. Based on the data, what is the average number of trips per scooter per day? Make sure to consider the days that a scooter was available. How does this vary by company?

In [28]:
bird = pd.read_csv('../data/bird.csv')

In [29]:
trips = pd.read_csv('../data/trips.csv')

In [30]:
gotcha = pd.read_csv('../data/gotcha.csv')

In [31]:
bolt = pd.read_csv('../data/bolt.csv')

In [33]:
spin = pd.read_csv('../data/spin_df.csv')

In [34]:
lyft = pd.read_csv('../data/lyft_df.csv')

In [35]:
lime = pd.read_csv('../data/lime_df.csv')

In [36]:
jump = pd.read_csv('../data/jump.csv')

In [37]:
scooters = pd.concat([bird, bolt, gotcha, jump, lime, lyft, spin], ignore_index=True)

In [38]:
scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-30 02:18:34.800,36.136514,-86.800949,PoweredBRRXQ,Powered,85.0,scooter,0.15,Bird
1,2019-05-30 02:18:34.800,36.136209,-86.800856,PoweredM76B1,Powered,85.0,scooter,0.15,Bird
2,2019-05-30 02:18:34.800,36.164312,-86.777405,PoweredGS3HE,Powered,43.0,scooter,0.15,Bird
3,2019-05-30 02:18:34.800,36.161616,-86.774109,Powered8MPRF,Powered,88.0,scooter,0.15,Bird
4,2019-05-30 02:18:34.800,36.164426,-86.778829,PoweredXKQYH,Powered,92.0,scooter,0.15,Bird

In [42]:
scooters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73414043 entries, 0 to 73414042
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  object
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   sumdtype     object
 5   chargelevel  float64
 6   sumdgroup    object
 7   costpermin   float64
 8   companyname  object
dtypes: float64(4), object(5)
memory usage: 4.9+ GB

In [40]:
import seaborn as sns

In [43]:
sns.lineplot(x = "total_scooters", y = "date", data=count_over_time[])
plt.show()

KeyError: "None of [Index(['Bird', 'Lyft', 'Lime', 'Jump', 'Spin', 'Bolt', 'Gotcha'], dtype='object')] are in the [columns]"