In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import psycopg2

In [2]:
database_name = 'scooters'   

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [6]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
'''

with engine.connect() as connection:
     scooters = pd.read_sql(text(query), con = connection)

In [7]:
scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird

In [8]:
scooters.shape

(100, 9)

In [9]:
query = '''
SELECT * 
FROM trips
LIMIT 100;
'''

with engine.connect() as connection:
     trips = pd.read_sql(text(query), con = connection)

In [10]:
trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207

# Q1

In [12]:
# query = '''
# SELECT companyname,COUNT(DISTINCT sumdid)
# FROM scooters
# WHERE sumdgroup = 'scooter'
# OR sumdgroup = 'Scooter'
# GROUP BY companyname;
# '''
# with engine.connect() as connection:
#      company_name = pd.read_sql(text(query), con = connection)

In [14]:
#company_name.to_csv('scooters_by_company.csv',index=False)

In [ ]:
# Save the dataframe to a CSV file
#df.to_csv('Biodata.csv', index=False

In [15]:
# query = '''
# SELECT  DISTINCT sumdid, companyname AS company, MIN(DATE(pubdatetime))as date
# FROM scooters
# WHERE pubdatetime < '2019-08-01 00:00:00'
# GROUP BY DISTINCT sumdid,companyname
# '''

# with engine.connect() as connection:
#     scooter_by_date = pd.read_sql(text(query), con = connection)

In [17]:
# scooter_by_date.to_csv('scooter_by_date.csv',index=False)

In [20]:
bird = pd.read_csv('data/bird.csv')

In [21]:
bolt = pd.read_csv('data/bolt.csv')

In [23]:
gotcha = pd.read_csv('data/gotcha.csv')

In [24]:
jump = pd.read_csv('data/jump.csv')

In [26]:
lyft = pd.read_csv('data/lyft.csv')

In [27]:
lime = pd.read_csv('data/lime.csv')

In [28]:
spin = pd.read_csv('data/spin.csv')

# Bring All data back together using CONCAT; formating datetime

In [30]:
scooters = pd.concat([bird, bolt, gotcha, jump, lyft, lime, spin], ignore_index = True)

In [32]:
scooters

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-30 02:18:34.800,36.136514,-86.800949,PoweredBRRXQ,Powered,85.0,scooter,0.15,Bird
1,2019-05-30 02:18:34.800,36.136209,-86.800856,PoweredM76B1,Powered,85.0,scooter,0.15,Bird
2,2019-05-30 02:18:34.800,36.164312,-86.777405,PoweredGS3HE,Powered,43.0,scooter,0.15,Bird
3,2019-05-30 02:18:34.800,36.161616,-86.774109,Powered8MPRF,Powered,88.0,scooter,0.15,Bird
4,2019-05-30 02:18:34.800,36.164426,-86.778829,PoweredXKQYH,Powered,92.0,scooter,0.15,Bird
...,...,...,...,...,...,...,...,...,...
73414038,2019-07-31 23:55:54.303,36.155810,-86.769930,Powered4747950,Powered,97.0,Scooter,0.23,Spin
73414039,2019-07-31 23:55:54.303,36.145171,-86.795570,Powered5745988,Powered,54.0,Scooter,0.23,Spin
73414040,2019-07-31 23:55:54.303,36.141690,-86.808030,Powered8877884,Powered,90.0,Scooter,0.23,Spin
73414041,2019-07-31 23:55:54.303,36.155530,-86.769610,Powered7625690,Powered,95.0,Scooter,0.23,Spin
73414042,2019-07-31 23:55:54.303,36.147240,-86.740380,Powered6345636,Powered,97.0,Scooter,0.23,Spin

In [33]:
scooters.info

<bound method DataFrame.info of                       pubdatetime   latitude  longitude          sumdid  \
0         2019-05-30 02:18:34.800  36.136514 -86.800949    PoweredBRRXQ
1         2019-05-30 02:18:34.800  36.136209 -86.800856    PoweredM76B1
2         2019-05-30 02:18:34.800  36.164312 -86.777405    PoweredGS3HE
3         2019-05-30 02:18:34.800  36.161616 -86.774109    Powered8MPRF
4         2019-05-30 02:18:34.800  36.164426 -86.778829    PoweredXKQYH
...                           ...        ...        ...             ...
73414038  2019-07-31 23:55:54.303  36.155810 -86.769930  Powered4747950
73414039  2019-07-31 23:55:54.303  36.145171 -86.795570  Powered5745988
73414040  2019-07-31 23:55:54.303  36.141690 -86.808030  Powered8877884
73414041  2019-07-31 23:55:54.303  36.155530 -86.769610  Powered7625690
73414042  2019-07-31 23:55:54.303  36.147240 -86.740380  Powered6345636

         sumdtype  chargelevel sumdgroup  costpermin companyname
0         Powered         85.0   scooter        0.15        Bird
1         Powered         85.0   scooter        0.15        Bird
2         Powered         43.0   scooter        0.15        Bird
3         Powered         88.0   scooter        0.15        Bird
4         Powered         92.0   scooter        0.15        Bird
...           ...          ...       ...         ...         ...
73414038  Powered         97.0   Scooter        0.23        Spin
73414039  Powered         54.0   Scooter        0.23        Spin
73414040  Powered         90.0   Scooter        0.23        Spin
73414041  Powered         95.0   Scooter        0.23        Spin
73414042  Powered         97.0   Scooter        0.23        Spin

[73414043 rows x 9 columns]>

In [34]:
scooters['pubdatetime'] = pd.to_datetime(scooters['pubdatetime'], format='mixed')

In [35]:
scooters['pubdatetime']

0          2019-05-30 02:18:34.800
1          2019-05-30 02:18:34.800
2          2019-05-30 02:18:34.800
3          2019-05-30 02:18:34.800
4          2019-05-30 02:18:34.800
                     ...
73414038   2019-07-31 23:55:54.303
73414039   2019-07-31 23:55:54.303
73414040   2019-07-31 23:55:54.303
73414041   2019-07-31 23:55:54.303
73414042   2019-07-31 23:55:54.303
Name: pubdatetime, Length: 73414043, dtype: datetime64[ns]