In [7]:
from sqlalchemy import create_engine, text
import pandas as pd
import psycopg2

In [11]:
database_name = 'scooters'    # Fill this in with your lahman database name ##baseball

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [12]:
engine = create_engine(connection_string)

In [13]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
'''

with engine.connect() as connection:
     scooters = pd.read_sql(text(query), con = connection)

In [15]:
scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird